/* Footer */

@import "./variables";
@import "./fonts";

.classFooter{
    background-color: $backgroundmenues;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.4rem;
    &__divprincipal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include movil{
            flex-direction: column;
        }
        &__divtext{
                h2{
                    font-family: $fontprincipal;
                    font-size: 1.8rem;
                    color: white;
                    margin-left: 4rem;
                    font-weight:900;
                    @include movil{
                        margin-left: 0rem;
                        font-size: 1.5rem;
                    }
                    @include tablet{
                        margin-left: 1.5rem;
                        font-size: 1.4rem;
                    }
                }
        }
        &__divcomunidad{
                width: 25%;
                margin-right: 4rem;            
                @include movil{
                    flex-direction: column;
                    width: 100%;
                    margin: 0rem;
                }
                @include tablet{
                    width: 45%;
                    margin-right: 1rem;
                }    
                    ul{
                    display: flex;
                    justify-content: space-between;
                    @include movil{
                        justify-content: center;
                        align-items: center;   
                    }
                    @include tablet{
                        align-items: center;   
                    }
                     li{
                        font-family: $fontprincipal;
                        color: $colorfootertexto;
                        font-size: 1.6rem;
                        @include movil{
                            font-size: 1rem;
                            margin: 0.6rem;   
                        }
                        @include tablet{
                            font-size: 1.2rem;
                        }   
                        a{
                            font-family: $fontprincipal;
                            color: $colorfootertexto;
                            font-size: 1.6rem;
                        } 
                      }   
                    }
        }
    }


}

