@import "./variables";
@import "./fonts";
@import"./reponsive";


.createFormulario{
    height: 80vh;
    background-image: url(../images/21456-fantasia.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @include movil{
        background-position-x: 60%;
        height: 93vh;
        align-items: flex-start;
        padding-top: 1rem;
        margin-bottom: 4.1rem;
    }
    @include tablet{
        height: 84vh;
    }
    &__fieldset{
        opacity: 80%;
        background-color: $colorprueba;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem;
        border-radius: 15px;
        border: none;
        justify-content: center;
        align-items: center;
        @include movil{
            margin: 2rem 0rem 2rem 0rem;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
         }   
         &--name{
                width: 500px;
                padding: 2px;
                margin: 8px 0px 8px 0px;
                border-radius: 5px;
                @include movil{
                    width: 290px;
                }
                @include tablet{
                    width: 500px;
                }
                label{
                    font-family: $fontprincipal;
                    color: $colorprueba3;
                    font-size: 1rem;
                    margin-right: 1.1rem;
                }
                input{
                    width: 300px;
                    height: 30px;
                    border-radius: 5px;
                    font-family: $fonttexto;
                    font-size: 1rem;
                    font-style: italic;
                    border: $colorbordeusuario solid 2px;
                    @include movil{
                        width: 290px;
                    }
             }
         }
         &--mail{
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 290px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 0.8rem;
             }
             input{
                 width: 300px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 290px;
                 }
             }
         }
         &--problem{
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 290px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 0.8rem;
             }
             select{
                 width: 200px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 290px;
                     margin-top: 10px;
                 }   
             }
         }
         &--description{
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             display: flex;
             align-items: flex-start;
             @include movil{
                display: flex;
                flex-direction: column;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 0.8rem;
             }
             textarea{
                 width: 650px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 290px;
                 }
                 @include tablet{
                    width: 500px;
                }
             }
                   }
         &--butoom{
             display: flex;
             justify-content: center;
             height: auto;
             width: 100%;
             input{
                 background-color: $backgroundmenues;
                 color: $colorfusuario;
                 border: $colorfusuario solid 2px;
                 margin-top: 5px;
                 padding: 0px 2.4rem 0px 2.4rem;
                 font-family: $fontprincipal;
                 font-size: 1.5rem;
                 border-radius: 15px;
                 &:hover{
                     background-color: $colorbotonescompra;
                     color: $colorprueba3;
                     border: solid $colorprueba3 2px;
                     
                 }

             }
         }
         &--mail2{
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 280px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 3rem;
            }
             input{
                 width: 300px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 280px;
                 }
             }
         }
         &--passw{
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 280px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 5.3rem;
             }
             input{
                 width: 300px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 280px;
                 }
             }
         }
         &--passw2{
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 280px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 1rem;
             }
             input{
                 width: 300px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 280px;
                 }
             }
         }   
         &--dname{
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 280px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 3.6rem;
             }
             input{
                 width: 300px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 280px;
                 }
             }
         }
         &--checbox{ 
             display: flex;
             background-color: $colorprueba;
             width: 600px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             justify-self: center;
             @include movil{
                 width: 270px;
                 margin: 0;
                 padding: 0;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 2rem;
                 @include movil{
                    margin-right: 1rem;
   
                }               

             }
             input{
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 280px;
    
                 }               
             }
             spam{
                 font-family: $fonttexto;
                 color: $colorprueba3;
                 font-size: 0.9rem;
                 margin-left: 0.4rem;
                 margin-right: 1rem;
                 @include movil{
                  margin-right: 0rem;
                  margin-left: 0rem;
                  text-align: center;
                 }
             }
             
         }
         &--birth{
             background-color: $colorprueba;
             width: 500px;
             padding: 2px;
             margin: 8px 0px 8px 0px;
             border-radius: 5px;
             @include movil{
                 width: 280px;
             }
             label{
                 font-family: $fontprincipal;
                 color: $colorprueba3;
                 font-size: 1rem;
                 margin-right: 3.6rem;
             }
             input{
                 width: 300px;
                 height: 30px;
                 font-family: $fonttexto;
                 font-size: 1rem;
                 font-style: italic;
                 border-radius: 5px;
                 border: $colorbordeusuario solid 2px;
                 @include movil{
                     width: 280px;
                 }
             }
         }
    }
    
}

