/*Hero Section*/

@import "./variables";
@import "./fonts";
@import"./reponsive";

.herosection {
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url(../images/theelderscrollsvskyrim-1632170068681-9432.jpg);
    background-size: cover;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include movil{
        background-size: cover;
        background-position-x: 90%;
        height: 70vh; 
    }
    @include tablet{
        background-size: cover;
        background-position-x: 80%;
        height: 89vh; 
    }
    &__container{
        width: 45%;
        @include movil{
            width: 100%;
            height: 45%;
        }
        @include tablet{
            width: 60%;
            height: 30%;
        }
        &--titulo{
            font-family: $fontprincipal;
            color: $colorlogo;
            width: 52%;
            font-size: 3rem;
            margin-bottom: 0rem;
            margin-left: 3rem;
            transition: all 1s;
            @include movil{
                opacity: 0;
                display: none;
                
            }
            &:hover{
                font-size: 3.5rem;
                color: $colorprueba;
                -webkit-text-stroke: 3px $colorlogo;
                transform: translatey(-10px);             
            }
        }
        &--parrafo{ 
            margin-left: 1.1rem;
            margin-bottom: 1rem;
            color: $colorprueba3;
            font-weight: 400;
            width: 96%;
            font-size: 18px;
            @include movil{
                font-size: 1.4rem;
                width: 100%;  
                text-align: center;
                padding: 1rem;
                margin: 0rem;
            }
        }
        &--butoom{
            border-radius: 12px;
            padding: 2px 16px 2px 16px;
            font-family: $fontprincipal;
            font-size: 1.4rem;
            font-weight: 900;
            margin: 0rem 0rem 1rem 1rem;
            color:$colorbordeusuario;
            background-color: $colorprueba;
            border: solid 2px $colorbordeusuario;
            border-radius: 10px;
            
            @include movil{
                opacity: 0;
            }
            &:hover{
                font-weight: 900;
                color:$colorlogo;
                background-color: $colorprueba1;
                border: solid 2px $colorlogo;
                border-radius: 10px;        
            }
        }
    }

}
