@import "./variables";
@import "./fonts";
@import "./reponsive";


.confFormularios{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8)), url(../images/21455-fantasia.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include movil {
        height: 70vh;
        background-position-x: 100%;
    }
    @include tablet{
        height: 84vh;        
    }
    &__fielprincipal{
            border-radius: 15px;
            color: $colorprueba3;
            padding: 1rem 8rem 1rem 8rem;
            border: none; 
            @include movil {
                padding: 3rem 1rem;
                margin: 0rem;
            }
            &--inputemail{
                border: none;
                input{
                    background-color: $colorprueba3;
                    width: 300px;
                    padding: 2px;
                    margin: 4px 0px 4px 0px;
                    font-family: $fonttexto;
                    font-style: italic;
                    font-size: 1rem;
                    border: $colorbordeusuario solid 2px;
                    border-radius: 5px;
                    @include movil {
                        width: 280px;
                    }
                }
            }
            &--inputpass{
                border: none;
                input{
                    background-color: $colorprueba3;
                    width: 300px;
                    padding: 2px;
                    margin: 4px 0px 4px 0px;
                    font-family: $fonttexto;
                    font-style: italic;
                    color:black;
                    font-size: 1rem;
                    border: $colorbordeusuario solid 2px;
                    border-radius: 5px;
                    @include movil {
                        width: 280px;
                    }
                }
            }
            &--inputremember{
                display: flex;
                width: 44%;
                justify-content: space-between;
                align-items: center;
                padding-top: 0.2rem ;
                @include movil {
                    width: 50%;
                }
                label{
                    color: $colorprueba3;
                    font-family: $fontprincipal;
                    font-size: 1rem;
                }
            }
            &--buttom{
                input{
                    align-items: center;
                    border: solid $colorfusuario 3px;
                    border-radius: 10px;
                    text-align: center;
                    padding: 5px;
                    justify-content: center;
                    margin-top: 0.5rem;
                    background-color: $backgroundmenues;
                    width: 300px;
                    font-family: $fontprincipal;
                    font-size: 18px;
                    color: $colorfusuario;
                    @include movil {
                        width: 280px;
                    }
                    &:hover{
                        background-color: $colorbotonescompra;
                        color: $colorprueba3;
                        border: solid $colorprueba3 3px;
                    }
      
                }
            }
    }
}

