/* Pagina News*/

@import "./variables";
@import "./fonts";


.news{
    padding: 1rem 2rem 3rem 2rem;
    @include movil{
        padding: 0.5rem;
    }
    @each $monts in octubre, septiembre, agosto {
        &__#{$monts}{
            margin: 2rem;
            padding: 1rem;
            border: none;
            background-color: $colorprueba;
            border-radius: 15px;
            @include movil{
                margin: 1rem 0rem 1rem 0rem;
            }
            &--noticias{
                h3{
                    font-family: $fontprincipal;
                    font-size: 2rem;
                    color: $colorbordeusuario;
                    margin: 1rem 0rem 1rem 2rem;
                }
                p{
                    color: $colorprueba3;
                    margin: 1rem;
                    text-align: justify;
                }
            }
        }

    }
    &__julio{
        margin: 2rem;
        padding: 1rem;
        border: none;
        background-color: $colorprueba;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;              
        @include movil{
            margin: 0.5rem;
            padding: 1rem;
        }
        &--noticias{
            width: 100%;
            @include movil{
                margin-bottom: 2rem;
            }   
            h3{
                font-family: $fontprincipal;
                font-size: 2rem;
                color: $colorbordeusuario;
                margin: 1rem 0rem 1rem 2rem;
            }
            iframe{
                margin: 0rem 2rem 1rem 2rem;
                justify-content: center;
                @include movil{
                    justify-content: start;
                    margin: 1rem 1rem 5rem 1rem;
                    
                }
            }

        }
    }    
}