@import "./variables";
@import "./fonts";
@import "./reponsive";

.races{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
    background-image: url(../images/wallpapersden.com_fantasy-forest-city_3840x2400.jpg);
    background-size: cover;
    height: 85vh;
    @include movil{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 2rem 0rem;
        margin-bottom: 6rem;
        background-size: cover;
        background-position-x: 70%;
    }
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 4rem;
        background-size: cover;
        background-position-x: 70%;
        justify-content: center;

    }
    @each $races in human, elf, dwarf {
        &__#{$races}{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0rem 0.6rem;
            border-radius: 15px;
            margin: 0rem 1rem;
            &__div{
                h2{
                    text-align: center;
                    font-family: $fontprincipal;
                    color: $colorbordeusuario;
                    font-size: 3rem;
                    margin-top: 0.4rem;
                }
                &--imagen{
                    border: solid $colorbordeusuario 2px;
                    border-radius: 15px;
                    object-fit: cover;  
                    height: 380px;
                    width: 290px;
                    @include movil_320{
                        width: 258px;
                        height: 440px;
                        margin: 1rem;
                        object-fit: cover;
                    }
                    @include movil{
                        width: 258px;
                        height: 440px;
                        margin: 1rem;
                    }
                    @include tablet{
                        height: 320px;
                        width: 240px;
                    }                
                    &:hover{
                        border: red solid 2px;
                        transform: scale(1.04 ,1.06);

                    }
                }
                    
            }
                
        }
    }
}


.divRaces{
    background-image: url(../images/human.jpg);
    background-size: cover;
    height: 135vh;
    padding: 2rem 2rem 2rem 2rem;
    @include movil{
        padding: 2rem 0rem 3rem 0rem;
        background-position-x: 60%;
        height: auto;
    }
    @include tablet{
        height: auto;
        padding-bottom: 4rem;
        background-position-x: 60%;
    }
    @each $races in human, elf, dwarf {
        .#{$races}{
            display: flex;
            opacity: 85%;
            border-radius: 20px;
            background-color: $colorprueba;
            @include movil{
                height: auto;
                margin: 1rem;
                margin-bottom: 7rem;
            }
            @include tablet{
                height: auto;
            }
            &__article{
                &__descrip{
                    display: grid;
                    grid-template-columns: 1fr 250px;
                    @include movil{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    &--texto{    
                        h2{
                            text-align: start;
                            padding: 1rem 2rem 0.5rem 2rem;
                            font-family: $fontprincipal;
                            font-size: 2rem;
                            color: $colorbordeusuario;
                        }
                        p{
                            font-family: $fonttexto;
                            color: $colorhovermenus;
                            margin: 0rem 1rem 1.1rem 1rem;
                            font-size: 1rem;
                            @include movil{
                                margin: 0rem 1rem 1.1rem 1rem;
                                font-size: 1.2rem;
                            }
                            @include tablet{
                                
                            }
                        }
                    }    
                    &--imagen{
                            img{
                                border: solid $colorbordeusuario 2px;
                                border-radius: 15px;
                                margin-top: 3rem;
                                height: 470px;
                                @include movil{
                                    margin: 1rem;
                                }
                                
                            
                            }   
                    }
                }
            }
        }
    }
}