/* HTML SHOPS*/
@import "./variables";
@import "./fonts";
@import "./reponsive";


.edicionProductos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-image: url(../images/GuildWars2-04-1920x1200.jpg);
        background-size: cover;
        height: auto;
        padding-bottom: 5rem;
        @include movil{
            background-position-x: 40%;
            display: flex;
            flex-direction: column;
            height: auto;
            padding-bottom: 5rem;
        }
        @include tablet{
            height: auto;
            padding-bottom: 4rem;
            align-items: flex-start;
        }
        &__standart{
            opacity: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem 2rem 2rem 2rem;
            @include movil{
                padding: 2rem 0rem 1rem 0rem;
            }
            @include tablet{
                padding: 0rem;
            }       
            &--divstandart{
                display: flex;
                background-color: $colorprueba1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                margin: 1rem 2rem 1rem 2rem;
                width: 300px;
                height: 52vh;            
                @include movil{
                    margin: 1rem 0rem 1rem 0rem;
                    width: 280px;
                }
                @include tablet{
                    height: 39vh;
                } 
                img{
                    margin-top: 1rem;
                    width: 200px;
                    height: 230px;
                    opacity: 100%;
                    border-radius: 15px;
                    @include movil{
                        height: 150px;
                        width: auto;
                    }    
                }
                ul{ 
                    padding-top:1rem ;
                    li{
                    color: $colorprueba3;
                    text-align: center;
                    }
                }
                p{
                    padding: 3.9rem 0rem 0rem 0rem;
                    border-radius: 10px;
                    margin-top: 4px;
                    color: $colorfusuario;
                    font-family: $fonttexto;
                    font-weight: 900;
                    text-align: center;
                    flex-direction: row;    
                    justify-content: center;
                    align-items: center;
                    @include movil{
                        padding: 0;
                    }
                    @include tablet{
                        padding: 1.2rem 0rem 0rem 0rem;
                    }     
                }        

            }
            &--buttomShop{
                 align-items: center;
                 border: solid $colorfusuario 3px;
                 border-radius: 10px;
                 text-align: center;
                 padding: 4px;
                 justify-content: center;
                 margin-bottom: 1rem;
                 background-color: $backgroundmenues;
                 width: 50%;
                 font-family: $fontprincipal;
                 font-size: 18px;
                 color: $colorfusuario;
                 &:hover{
                     background-color: $colorbotonescompra;
                     color: $colorprueba3;
                     border: solid $colorprueba3 3px;
                 }
             }
        }
        &__master{
            opacity: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem 2rem 2rem 2rem;
            @include movil{
                padding: 2rem 0rem 1rem 0rem;
            }
            @include tablet{
                padding: 0rem;
            }        
            &--divmaster{
                display: flex;
                background-color: $colorprueba1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                margin: 1rem 2rem 1rem 2rem;
                width: 300px;
                height: 52vh;
                @include movil{
                    margin: 1rem 0rem 1rem 0rem;
                    width: 280px;
                }
                @include tablet{
                    height: 39vh;
                 }             
                img{
                    margin-top: 1rem;
                    width: 200px;
                    height: 230px;
                    opacity: 100%;
                    border-radius: 15px;
                    @include movil{
                        height:150px;
                        width: auto;
                    }    
                    
                }
                ul{ 
                    padding-top:0.4rem ;
                    li{
                    color: $colorprueba3;
                    text-align: center;
                    }
                }
                p{
                    padding: 2.8rem 0rem 0rem 0rem;
                    border-radius: 10px;
                    margin-top: 4px;
                    color: $colorfusuario;
                    font-family: $fonttexto;
                    font-weight: 900;
                    text-align: center;
                    flex-direction: row;    
                    justify-content: center;
                    align-items: center;
                    @include movil{
                        padding: 0;
                    }
                    @include tablet{
                        padding: 0.6rem 0rem 0rem 0rem;
                    } 
                }        

            }
            &--buttomShop{
                 align-items: center;
                 border: solid $colorfusuario 3px;
                 border-radius: 10px;
                 text-align: center;
                 padding: 4px;
                 justify-content: center;
                 margin-bottom: 1rem;
                 background-color: $backgroundmenues;
                 width: 50%;
                 font-family: $fontprincipal;
                 font-size: 18px;
                 color: $colorfusuario;
                 &:hover{
                     background-color: $colorbotonescompra;
                     color: $colorprueba3;
                     border: solid $colorprueba3 3px;
                 }
             }
        }
        &__legendary{
            opacity: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem 2rem 1rem 2rem;
            @include movil{
                padding: 2rem 0rem 1rem 0rem;
            }
            @include tablet{
                padding: 0rem;
            }            
            &--divlegendary{
                display: flex;
                background-color: $colorprueba1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                margin: 1rem 2rem 1rem 2rem;
                width: 300px;
                height: 52vh;
                @include movil{
                    margin: 1rem 0rem 1rem 0rem;
                    width: 280px;
                }
                @include tablet{
                   height: 39vh;
                }                 
                img{
                    margin-top: 1rem;
                    width: 200px;
                    height: 230px;
                    opacity: 100%;
                    border-radius: 15px;
                    @include movil{
                        height: 150px;
                        width: auto;
                    }    
                }
                ul{ 
                    padding-top:0.4rem ;
                    li{
                    color: $colorprueba3;
                    text-align: center;
                    }
                }
                p{
                    padding: 0.3rem 0rem 0rem 0rem;
                    border-radius: 10px;
                    margin-top: 4px;
                    color: $colorfusuario;
                    font-family: $fonttexto;
                    font-weight: 900;
                    text-align: center;
                    flex-direction: row;    
                    justify-content: center;
                    align-items: center;
                    @include movil{
                        padding: 0;
                    }    
                    @include tablet{
                       padding: 0.5rem 0rem 0rem 0rem; 
                    }        
                }   
            }   
            &--buttomShop{
                 align-items: center;
                 border: solid $colorfusuario 3px;
                 border-radius: 10px;
                 text-align: center;
                 padding: 4px;
                 justify-content: center;
                 margin-bottom: 1rem;
                 background-color: $backgroundmenues;
                 width: 50%;
                 font-family: $fontprincipal;
                 font-size: 18px;
                 color: $colorfusuario;
                 &:hover{
                     background-color: $colorbotonescompra;
                     color: $colorprueba3;
                     border: solid $colorprueba3 3px;
                 }
             }
        }
}
