$backgroundmenues: black;
$colorfusuario: rgba(223, 165, 19, 0.781);
$colorbordeusuario: goldenrod;
$colorhovermenus: white;
$colorlogo:red;
$colortextomenu: rgba(126, 124, 124, 0.87);
$colorfootertexto: rgba(223, 165, 19, 0.781);
$colorprueba:#222831;
$colorprueba1:#393E46;
$colorprueba2: #FFD369;
$colorprueba3:#EEEEEE;
$colorbotonescompra: rgba(190, 52, 2, 0.842);
